body {
    background-color: #121212;
    color: white;
}

/* Квадратики результатов */
.square {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.correct {
    background-color: #198754; /* Зеленый */
    color: white;
}

.partial {
    background-color: #ffc107; /* Желтый */
    color: black;
}

.wrong {
    background-color: #dc3545; /* Красный */
    color: white;
}

/* Анимация появления */
tr {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Подсказки */
#suggestions {
    max-height: 200px;
    overflow-y: auto;
}
.list-group-item {
    cursor: pointer;
    background-color: #212529;
    color: white;
    border: 1px solid #495057;
}
.list-group-item:hover {
    background-color: #343a40;
}